body {
  background-color: #71c9ce;
}

h1 {
  font-size: 60px;
  text-align: center;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  font-weight: 900;
  font-size: xx-large;
  position: relative;
  left: 12px;
  top: 5px;
}

.table {
  margin-left: auto;
  margin-right: auto;
}

table,
td {
  border: 5px solid black;
  border-collapse: collapse;
  font-size: 30px;
}

.board td {
  width: 100px;
  height: 100px;
  text-align: center;
  transition: 0.5s;
  padding: 10px;
  position: relative;
  bottom: 15%;
  margin-left: auto;
  margin-right: auto;
}

.unit {
  width: 400px;
  margin: auto;
}

.next-number {
  background-color: aquamarine;
  width: 250px;
  height: 50px;
  border-radius: 50%;
}

.board td:hover {
  background-color: lightsalmon;
}

.marked {
  background-color: grey;
}

#timer {
  font-size: 50px;
  position: relative;
  top: 4px;
  left: 8px;
  font-weight: 900;
}

#timerBox {
  -webkit-box-shadow: 0px 0px 45px 24px #00ccff;
  -moz-box-shadow: 0px 0px 45px 24px #00ccff;
  box-shadow: 0px 0px 45px 24px #00ccff;
  margin-left: 70px;
  margin-top: 50px;
  width: 200px;
  height: 60px;
  border-radius: 20%;
}

.new-game {
  margin-left: 70px;
  margin-top: 60px;
  box-shadow: inset 0px 0px 21px 11px #00e1ff;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 12px;
  border: 4px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 20px;
  padding: 12px 37px;
  text-decoration: none;
  text-shadow: 0px 0px 25px #283966;
}
.new-game:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e;
}
.new-game:active {
  position: relative;
  top: 1px;
}

.buttons {
  width: 500px;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}

.easy {
  box-shadow: inset 0px 0px 21px 11px #9fb4f2;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 12px;
  border: 4px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 15px;
  padding: 12px 37px;
  text-decoration: none;
  text-shadow: 0px 0px 25px #283966;
}
.easy:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e;
}
.easy:active {
  position: relative;
  top: 1px;
}

.medium {
  box-shadow: inset 0px 0px 21px 11px #e81919;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 12px;
  border: 4px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 19px;
  font-weight: bold;
  padding: 12px 37px;
  text-decoration: none;
  text-shadow: 0px 0px 25px #ff0000;
}
.medium:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e;
}
.medium:active {
  position: relative;
  top: 1px;
}
.hard {
  box-shadow: inset 0px 0px 12px 5px #000000;
  background: linear-gradient(to bottom, #e3ede1 5%, #1c1202 100%);
  background-color: #e3ede1;
  border-radius: 12px;
  border: 1px solid #030200;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 30px;
  font-weight: bold;
  padding: 12px 37px;
  text-decoration: none;
  text-shadow: 0px 1px 50px #000000;
}
.hard:hover {
  background: linear-gradient(to bottom, #1c1202 5%, #e3ede1 100%);
  background-color: #1c1202;
}
.hard:active {
  position: relative;
  top: 1px;
}
